
.titiulo-carrito{
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nombre-licor{
    font-weight: 600;
}

.productos-en-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-descripcion {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aqua;
    gap: 5rem;
    text-align: center;
}

.espacio-descripcion{
    flex: 4rem;
}


.imagen-licor-carrito {
    width: 100px; 
    height: auto; 
    margin-left: 10px;
}

.titiulo-carrito {
    margin-bottom: 20px;
}

.botones-carrito{
    width:600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}